<div class="col-lg-12 d-flex justify-content-center">
    <button (click)="getMessages_7()">Get last 7 days</button>
    <button (click)="getMessages_28()">Get last 28 days</button>
</div>
<hr>
<div class="col-lg-12 d-flex justify-content-around">
    <h3>Total messages: {{totalMessages}}</h3>
    <h3>Average message per student: {{averageMessages|number:'1.1-3'}}</h3>
</div>
<hr>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Email</th>
        <td mat-cell *matCellDef="let element"> {{element.student}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact ID</th>
        <td mat-cell *matCellDef="let element"> {{element.room}} </td>
    </ng-container>
    <ng-container matColumnDef="m_send">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Message send</th>
        <td mat-cell *matCellDef="let element"> {{element.m_send}} </td>
    </ng-container>
    <ng-container matColumnDef="m_receive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Message receive </th>
        <td mat-cell *matCellDef="let element"> {{element.m_receive}} </td>
    </ng-container>
    <ng-container matColumnDef="d_send">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documents send</th>
        <td mat-cell *matCellDef="let element"> {{element.m_send}} </td>
    </ng-container>
    <ng-container matColumnDef="d_receive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documents receive </th>
        <td mat-cell *matCellDef="let element"> {{element.m_receive}} </td>
    </ng-container>
    <ng-container matColumnDef="events">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Events </th>
        <td mat-cell *matCellDef="let element"> {{element.events}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<hr>
<div *ngFor="let i of report">
    <p>Student {{i.student}} have no interactive in {{case}} days</p>
</div>